* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.root {
  width: 1200px;
  margin: 0 auto;
}

#form {
  width: 200px;
}

#form input {
  width: 20em;
  height: 4em;
  margin-bottom: 2em;
  border-radius: 10px;
  border: 0;
}

#form input::placeholder {
  padding-left: 2em;
  font-size: 14px;
  color: #999;
}

#btn {  
  width: 16.8em;
  height: 4em;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 10px;
}